body{
  background-color: #000000;
  color: aliceblue;
  font-family: sans-serif;
}

a{
  color: #000000;
}


header{
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

header h2{
  padding: 5px;
}

#header-link{
  margin: auto 0 auto auto;
}

#header-link a{
  font-size: large;
  margin-right: 20px;
  padding-right: 5px;
}


#topimg img{
  width: 100%;
  padding-top: 80px;
}



#abstract{
  padding-top: 100px;
  margin-top: -100px;
  padding-bottom: 100px;
}

#abstract h2{
  font-size: 50px;
  text-align: center;
  padding-bottom: 20px;
}

#abstract-text{
  text-align: center;
  font-size: large;
  width: 75%;
  margin: 0 auto;
  padding: 30px;
  border: 1px white solid;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s, transform 2s;
}

#abstract-text.appear{
  opacity: 1;
  transform: translateY(0);
}


#character{
  padding-top: 150px;
  margin-top: -150px;
  padding-bottom: 200px;
}

#character h2{
  font-size: 50px;
  text-align: center;
}



#charaimg1 img{
  width: auto;
  height: 100vw;
  z-index: 9998;
}

#charaimg1{
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s, transform 1s;
}

#charaimg1.appear{
  opacity: 1;
  transform: translateX(0);
}


#charawrap1{
  display:flex;
  flex-flow: column;
  align-items: center;
  width: 80%;
  border: 1px black solid;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: auto;
}


#charatext1{
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: black;
  background-color: rgba(209, 209, 209, 0.7);
  border-radius: 50px;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 2s, transform 2s;
}

#charatext1.appear{
  opacity: 1;
  transform: translateX(0);
}


#charaimg2 img{
  width: auto;
  height: 100vw;
  z-index: 9998;
}

#charaimg2{
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s, transform 1s;
}

#charaimg2.appear{
  opacity: 1;
  transform: translateX(0);
}


#charawrap2{
  display:flex;
  flex-flow: column;
  align-items: center;
  width: 80%;
  border: 1px white solid;
  border-radius: 50px;
  background-color: rgba(68, 68, 68, 0.7);
  margin: auto;
  margin-top: 150px;
}

#charatext2{
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(53, 53, 53, 0.7);
  border-radius: 50px;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 2s, transform 2s;
}

#charatext2.appear{
  opacity: 1;
  transform: translateX(0);
}


#movie{
  padding-top: 100px;
  margin-top: -100px;
  padding-bottom: 200px;
}

#movie h2{
  font-size: 50px;
  text-align: center;
}

#movie-content{
  display: flex;
  justify-content: center;
  align-items: center;
}



footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  z-index: 9999;
}

footer a{
  margin-right: 50px;
  z-index: 9999;
}

@media (min-width:600px) {
  #chara1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #charaimg1 img{
    width: 550px;
    height: auto;  
    position: absolute;
    right: 50%;
    top: -70px;
  }

  #charaimg1{
    width: 100px;
    height: 300px;  
  }
  
  #charawrap1{
    position: relative;
    height: 600px;
  }
  
  #charatext1{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 20%;
    right: 10%;
  }
  

  #chara2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #charaimg2 img{
    width: 550px;
    height: auto;
    position: absolute;
    left: 50%;
    top: -90px;
  }

  #charaimg2{
    width: 100px;
    height: 300px;  
  }
  
  #charawrap2{
    position: relative;
    height: 600px;
  }
  
  #charatext2{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 20%;
    left: 10%;
  }
  
}